* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

html,
body {
  overflow-x: hidden;
}

/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: white;
}

.logo img {
  width: 150px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
}

.cta-button {
  background-color: #ff6f61;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #ff4b4b;
}
