.modal-overlay::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 100;
}

.modal-container {
  position: relative;
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
  padding: 1rem 4rem;
  border-radius: 10px;
  width: 84%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.clone-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-header h1 {
  font-size: 3rem;
  font-weight: 500;
}

.center-components {
  display: grid;
  align-items: center;
  align-content: center;
}

.center-components p{
  margin: 0;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 24px !important;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal-content {
  color: #002863;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: auto auto;
  grid-gap: 23px 4%;
}
.modal-card {
  border-radius: 12px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 0;
  display: flex;
}
.modal-card h2 {
  font-weight: 500;
}
.modal-body {
  margin-top: 10px;
}
