body {
  overflow: visible;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
  /* Overall padding for the navbar */
  background-color: white;
  /* Background color of navbar */
  padding-block: .2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  min-height: 30px;
}

.hamburger {
  display: none;
  width: 30px
}

.navLinks {
  list-style-type: none;
  display: flex;
  gap: .5rem;
  /* Space between nav links */
}

.navLink {
  list-style-type: none;
  display: flex;
  /* Align items in a flex container */
  align-items: center;
  /* Center items vertically */
}

.navLink a {
  background: inherit;
  text-decoration: none;
  color: black;
  /* Link color */
  font-weight: normal;
  padding: 10px 20px;
  /* Equal padding for links */
}

.navLink a.active {
  color: #ff6f61;
  /* Active link color */
  font-weight: bold;
}

.navLinks Button:not(.blogPageBtn) {
  width: 8.1rem !important;
  text-wrap: nowrap;
  font-size: .8rem;
  letter-spacing: -.56px;
  height: 48px;
}

#search {
  position: absolute;
  right: 10%;
  display: block;
  order: 1;
}

#search>div {
  position: relative;
}

#search input {
  right: 15%;
  border-style: dotted;
  border-width: 1px;
  width: 13.6rem;
  background: transparent;
  outline: none;
  padding: .7em;
  animation: input-transition .3s forwards;
}

#search img {
  positioN: sticky;
  right: 10%;
  top: 4%;
  padding-inline: 10px;
}

.blogPageBtn {
  padding: 1rem 2.5rem;
  font-size: .875rem;
  background: #fb2056;
  color: white;
  border-width: 0;
  line-height: 1em;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background .2s;
}

.blogPageBtn:hover {
  background: #da1c4b;
}

.blogPageMobileBtn {
  background: #fb2056;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  font-size: 1.5em;
  line-height: 1.8;
  padding: .5em;
}

.mobileNavLinks {
  display: none;
}

@media (max-width: 850px) {
  .hamburger {
    display: block;
  }

  .mobileNavLinks {
    background: white;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: -20px;
    border-radius: 0 0 12px 12px;
    width: 200px;
    padding: 1.25rem;
    list-style-type: none;
    display: block !important;
  }

  .blog-page-mobile-navlink {
    padding: 0 1.25rem;
    border-top: 2px solid;
    border-bottom: 1px solid;
    border-color: #dddddd;
    text-decoration: none;
    color: black;
    line-height: 3;
    position: sticky;
    top: 5vh;
    z-index: 1000;
    background: #f5f5f5;
  }

  .blog-page-mobile-navlink a {
    text-decoration: none;
    color: #da1c4b;
  }

  @keyframes input-transition {
    from {
      width: 0;
    }

    to {
      width: 13.6rem;
    }
  }

  .mobileNavLink a {
    background: inherit;
    text-decoration: none;
    color: black;
    /* Link color */
    font-weight: normal;
    padding: 10px 20px;
    /* Equal padding for links */
  }

  .mobileNavLink {
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    /* Align items in a flex container */
    align-items: center;
    /* Center items vertically */
  }

  .mobileNavLink a.active {
    color: #ff6f61;
    /* Active link color */
    font-weight: bold;
  }
}

@media (max-width: 980px) {
  .blog-page-mobile-navlink {
    top: 60px;
  }

  .navLinks {
    gap: 0;
  }

  .navBar {
    padding-inline: 20px;
  }

  .navLink a {
    padding-inline: 16px !important;
  }

  #search img {
    top: 0.6%;
  }
}

@media (max-width: 500px) {
  .blog-page-mobile-navlink {
    top: 42px;
  }

  #search img {
    top: 0;
    height: 10px;
  }

  #search>div input {
    animation: input-transition .3s forwards;
    width: 10rem !important;
  }

  .navBar {
    padding: 0 .9rem;
  }

  .logo img {
    width: 55%;
    margin: auto;
  }

  .hamburger {
    width: 5%;
  }

  .navBar Button {
    height: 35px !important;
  }

  @keyframes input-transition {
    from {
      width: 0;
    }

    to {
      width: 10rem;
    }
  }
}