body {
  overflow: visible;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px; /* Overall padding for the navbar */
  background-color: white; /* Background color of navbar */
  padding-block: .2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  max-width: 100%;
  width: 100%;
  min-height: 30px;
}

.hamburger {
  display: none;
  width: 30px
}

.navLinks {
  list-style-type: none;
  display: flex;
  gap: .5rem; /* Space between nav links */
}

.navLink {
  list-style-type: none;
  display: flex; /* Align items in a flex container */
  align-items: center; /* Center items vertically */
}

.navLink a {
  background: inherit;
  text-decoration: none;
  color: black; /* Link color */
  font-weight: normal;
  padding: 10px 20px; /* Equal padding for links */
}

.navLink a.active {
  color: #ff6f61; /* Active link color */
  font-weight: bold;
}

.navLinks Button:not(.blogPageBtn) {
  width: 8.1rem !important;
  text-wrap: nowrap;
  font-size: .8rem;
  letter-spacing: -.56px;
  height: 48px !important;
}

.blogPageBtn {
  padding: 1rem 2.5rem;
  font-size: .875rem;
  background: #fb2056;
  color: white;
  border-width: 0;
  line-height: 1em;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background .2s;
}

.blogPageBtn:hover {
  background: #da1c4b;
}

.blogPageMobileBtn {
  background: #fb2056;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  font-size: 1.5em;
  line-height: 1.8;
  padding: .5em;
}

.mobileNavLinks {
  display: none;
}

@media (max-width: 850px) {
  .hamburger {
    display: block;
  }

  .mobileNavLinks {
    background: white;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: -20px;
    border-radius: 0 0 12px 12px;
    width: 200px;
    padding: 1.25rem;
    list-style-type: none;
    display: block !important;
  }

  .mobileNavLink a {
    background: inherit;
    text-decoration: none;
    color: black; /* Link color */
    font-weight: normal;
    padding: 10px 20px; /* Equal padding for links */
  }

  .mobileNavLink {
    list-style-type: none;
    display: flex; /* Align items in a flex container */
    align-items: center; /* Center items vertically */
  }

  .mobileNavLink a.active {
    color: #ff6f61; /* Active link color */
    font-weight: bold;
  }
}

@media (max-width: 980px) {
  .navLinks {
    gap: 0;
  }

  .navBar {
    padding-inline: 20px;
  }

  .navLink a{
    padding-inline: 16px !important;
  }
}

@media (max-width: 500px) {
  .navBar {
    padding: 0 .9rem;
  }

  .logo {
    text-align: center;
  }

  .logo img {
    width: 70%;
  }

  .hamburger {
    width: 5%;
  }

  .navBar Button {
    height: 35px !important;
  }
}