:root {
  --Primary-Font: #002863;
  max-width: 2560px;
  width: 100vw;
  margin: auto;
}

.research-banner {
  width: 100%;
  padding: 4rem 5.5rem 4rem;
  background: #5a40c4;
  font-family: "DM Sans", sans-serif;
  display: grid;
  grid-template-columns: 63% auto;
  gap: 4rem;
  color: white;
}

.research-banner img {
  margin-block: auto;
}

.research-banner h1 {
  font-size: 3rem;
  font-weight: 500;
}

.state-of-art-rnd {
  width: 80%;
  margin-inline: auto;
  font-family: "DM Sans";
  display: grid;
  grid-template-columns: 51% auto;
  gap: 4rem;
}

.state-of-art-text {
  line-height: 4rem;
}

.state-of-art-rnd p {
  word-spacing: 0.3em;
  line-height: normal;
  margin-bottom: 2rem;
}

.state-of-art-rnd h2 {
  color: var(--Primary-Font);
  font-size: 2.4rem;
  font-weight: 600;
}

.state-of-art-rnd img {
  margin: auto;
  width: 80%;
}

.state-of-art-grid {
  width: 80%;
  margin-inline: auto;
  margin-top: 39px;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: auto auto;
  grid-gap: 27px 45px;
  font-family: "DM Sans";
  font-size: 20px;
  letter-spacing: -0.8px;
  font-weight: 700;
  color: var(--Primary-Font);
  line-height: 32px;
}

.state-of-art-grid-item {
  align-items: center;
  border-radius: 12px;
  border: 1px solid;
  border-color: rgb(207, 206, 206);
  display: flex;
  gap: 1.25rem;
  padding: 1.56rem;
}

.state-of-art-grid-item p {
  margin: 0;
}

.start-now-banner {
  background: #5a40c4;
}

.start-now-banner-grid {
  display: grid;
  grid-template-columns: 70% auto;
}

.start-now-banner-grid Button {
  margin: auto;
}

.start-now-banner h3 {
  width: 90%;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: -0.8px;
}

.carousel-header {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  margin: 2.5rem 0;
  color: white;
}

.building-brain-impact {
  margin-inline: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 2.75rem;
  padding-bottom: 3.44rem;
  align-items: center;
}

.building-brain-impact-text {
  margin-inline: auto;
  width: 80%;
  font-family: "DM Sans";
}

.building-brain-impact-text p {
  color: var(--Primary-Font);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.87;
  margin-top: 1.75rem;
  letter-spacing: -0.02rem;
}

.building-brain-impact-text p:first-of-type {
  color: #ff5766;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.12rem;
  letter-spacing: -0.03rem;
}

.super-daily-why-uptodd {
  padding-block: 4.62rem;
}

.super-daily-why-uptodd h1 {
  color: var(--Primary-Font);
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.12rem;
  letter-spacing: -0.1rem;
}

.super-daily-why-uptodd-cards {
  width: 80%;
  margin-inline: auto;
  margin-top: 39px;
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: auto auto;
  grid-gap: 27px 45px;
  font-family: "DM Sans";
}

.super-daily-usp-card {
  align-items: start;
  border-radius: 12px;
  border: 1px solid;
  border-color: rgb(207, 206, 206);
  display: flex;
  gap: 1.25rem;
  padding: 1.56rem;
}

.super-daily-usp-card h3 {
  color: var(--Primary-Font);
  font-size: 1.25rem;
  letter-spacing: -0.05rem;
  line-height: 2.12rem;
}

.super-daily-usp-card p {
  color: #5c6a7e;
  font-size: 0.87rem;
  line-height: 1.37rem;
  letter-spacing: -0.03;
  margin-top: 0.37rem;
}

.carousel-card {
  padding: 0.75rem;
  position: relative;
}

.carousel-card iframe {
  border-radius: 0;
  width: 312px;
  height: 190px;
}

.carousel-card img {
  left: 0;
  padding-inline: 1.2rem;
  position: absolute;
  cursor: pointer;
}

.carousel-card p {
  color: var(--Primary-Font);
  line-height: 1.75rem;
  letter-spacing: -0.02rem;
  font-size: 1.25rem;
  text-align: left;
  padding: 1rem 0.5rem 1.5rem;
  margin: 0;
}

@media (max-width: 1320px) {
  .research-banner h1 {
    font-size: 2.87rem;
    font-weight: bold;
  }
}

@media (max-width: 1184px) {
  .research-banner h1 {
    font-size: 2.37rem;
  }
}

@media (max-width: 1100px) {
  .building-brain-impact-text p {
    font-size: 0.94rem;
    line-height: 1.25rem;
    letter-spacing: -0.27px;
    margin-top: 1.44rem;
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 1000px) {
  .super-daily-why-uptodd-cards {
    gap: 1.37rem 2.19rem;
  }

  .super-daily-usp-card {
    padding: 1.1rem;
  }

  .super-daily-usp-card img {
    width: 80px;
  }

  .super-daily-usp-card h3 {
    font-size: 1.1rem;
  }

  .super-daily-usp-card p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    letter-spacing: 0.53px;
  }
}

@media (max-width: 968px) {
  .research-banner > div h1 {
    font-size: 1.87rem !important;
    line-height: 3.75rem !important;
    font-weight: bold;
  }

  .research-banner h2 {
    font-size: 1.25rem;
  }

  .research-banner p {
    font-size: 0.87rem;
    line-height: 1.25rem;
  }

  .research-banner {
    padding: 55px 50px 50px 50px;
  }
}

@media (max-width: 850px) {
  .state-of-art-rnd img {
    width: 120%;
  }

  .state-of-art-grid-item {
    padding: 1.1rem 0.6rem;
  }
}

@media (max-width: 750px) {
  .state-of-art-rnd img {
    width: 100% !important;
  }

  .state-of-art-grid {
    grid-template-columns: 100%;
  }

  .state-of-art-grid-item {
    padding: 0.8rem 0.7rem;
    gap: 0.6rem;
  }

  .start-now-banner {
    height: 100%;
  }

  .state-of-art-rnd {
    display: flex;
    flex-direction: column-reverse;
  }

  .start-now-banner-grid {
    grid-template-columns: 100%;
  }

  .building-brain-impact {
    flex-direction: column;
  }

  .building-brain-impact-text p:first-child {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -0.02rem;
  }

  .super-daily-why-uptodd-cards {
    grid-template-columns: 100%;
    gap: 0.94rem;
  }

  .super-daily-why-uptodd h1 {
    font-size: 1.87rem;
  }

  .super-daily-usp-card {
    padding: 1.5rem;
  }

  .carousel-header h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 700px) {
  .research-banner {
    display: flex;
    flex-direction: column-reverse;
  }

  .research-banner img {
    width: 90%;
  }

  .research-banner > div h1 {
    font-size: 2.25rem !important;
    line-height: 2.87rem !important;
    letter-spacing: -0.72px;
  }

  .research-banner > div h2 {
    font-size: 1rem;
    line-height: 1.62rem;
    margin-top: 0.94rem;
  }

  .research-banner > div p {
    line-height: 1.37rem !important;
    letter-spacing: -0.28px;
    margin-top: 1.12rem;
  }
}

@media (max-width: 550px) {
  .super-daily-usp-card img {
    width: 67px;
  }

  .super-daily-usp-card h3 {
    line-height: 1.7rem;
    letter-spacing: -0.72px;
  }

  .super-daily-usp-card p {
    letter-spacing: -0.56px;
    margin-top: 0.1rem;
  }
}
