/*                        Career Form Styles */
.career-form {
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.career-form h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.career-form form {
  display: flex;
  flex-direction: column;
}

.career-form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.career-form input[type="text"],
.career-form input[type="email"],
.career-form input[type="file"],
.career-form select {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
}

.career-form input[type="file"] {
  padding: 0.5rem;
}

.career-form select {
  padding: 0.75rem;
}

.career-form button {
  background-color: #28a745;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.career-form button:hover {
  background-color: #218838;
}

.career-form p {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}

.career-form p[style="color: green"] {
  color: green;
}

.career-form p[style="color: red"] {
  color: red;
}

/*                            Media Queries for responsiveness ( 1024px )*/
@media (max-width: 1024px) {
  .career-form {
    max-width: 70%;
  }
}

/*                            Media Queries for responsiveness ( 768px )*/
@media (max-width: 768px) {
  .career-form {
    max-width: 80%;
  }
}

/*                            Media Queries for responsiveness ( 480px )*/
@media (max-width: 480px) {
  .career-form {
    max-width: 90%;
  }
  .career-form h1 {
    font-size: 2rem;
  }
}
