.product-and-cost {
  width: 100%;
  padding: 3rem 0;
}

.product-and-cost h1 {
  color: var(--Primary-Font, #002863);
  text-align: center;
  font-family: "DM Sans";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -1.76px;
  padding: 0 30px;
}

.product-and-cost h5 {
  color: var(--Primary-Font, #002863);
  text-align: center;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.8px;
  padding: 0 50px;
}

.product-pointers {
  margin: auto;
  margin-top: 28px;
  margin-bottom: 37px;
  width: 80%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: auto auto auto;
  grid-gap: 15px 20px;
}

.product-pointers h3 {
  color: var(--Primary-Font, #002863);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.8px;
  display: flex;
  align-items: center;
}

.product-pointers i {
  font-size: 32px;
  margin-right: 10px;
  color: #002863;
}

.product-cost-list {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.product-and-cost-container-card {
  margin: auto;
  margin-top: 50px;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.product-and-cost-card {
  width: 47.5%;
  padding: 20px 15px;
  border: 2px solid #5a40c4;
  border-radius: 15px;
  color: #002863;
  text-align: center;
}

.product-and-cost-card Button {
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 100%;
}

.product-and-cost-card h1 {
  color: #ff3f4e !important;
  font-size: 1.5rem !important;
  margin-bottom: 10px;
  letter-spacing: -2px;
  font-weight: 500;
}
.product-and-cost-card h2 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.product-and-cost-card p {
  font-weight: 400;
}
.product-and-cost-card h3 {
  display: inline;
  font-size: 2rem;
  font-weight: 500;
  justify-content: center;
}
.product-and-cost-card del {
  font-weight: 600;
}
.card-perMonth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  margin: 10px 0;
}
.card-perMonth span {
  font-size: 1.2rem;
  font-weight: 600;
}

/* --------------------------------------------------------- */

.product-cost-card {
  width: 47.3%;
  border-radius: 12px;
  border: 2px solid #5a40c4;
  background: #fff;
  padding: 25px 22px;
}

.product-cost-card h3 {
  color: #ff3f4e;
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.96px;
}

.product-cost-card h4 {
  color: var(--Primary-Font, #002863);
  text-align: center;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.4px;
  margin-top: 14px;
}

.product-cost-card p {
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin: 0;
}

.product-cost-card h6 {
  color: var(--Primary-Font, #002863);
  text-align: center;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.4px;
  background: #f5f5f5;
  width: 100%;
  padding: 6px 0;
  text-align: center;
  margin-top: 15px;
}

.product-cost-card h2 {
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.6px;
}

.product-cost-card h2 s {
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.32px;
}

.product-cost-card .btn {
  width: 100%;
  border-radius: 8px;
  background: #ff5766;
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.8px;
  padding: 15px 0;
  margin-top: 16px;
  border: none;
  cursor: pointer;
}

.see-more-product {
  margin-top: 37px;
  text-align: center;
}

.see-more-product p {
  color: var(--Primary-Font, #002863);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.64px;
}

.see-more-product span {
  color: var(--Primary-Font, #ff3f4e);
  text-decoration-line: underline;
  cursor: pointer;
}

.developmental-kit {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.kit-intro {
  width: 463px;
  display: flex;
  padding: 24px;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    rgb(255 63 78 / 0.11) 0%,
    rgb(90 64 196 / 0.11) 100%
  );
  justify-content: space-between;
}

.kit-intro h3 {
  color: var(--Primary-Font, #002863);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.8px;
}

.kit-intro p {
  color: var(--Primary-Font, #002863);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.64px;
  margin-top: 7px;
}

.kit-intro img {
  width: 93px;
  height: 93px;
  margin-left: 48px;
}

.kit-video {
  border-radius: 12px;
  width: 257px;
  height: 144px;
  position: relative;
  margin-left: 34px;
}

.kit-video iframe {
  width: 257px;
  height: 144px;
}

.kit-video h3 {
  width: 100%;
  padding: 6px 0;
  text-align: center;
  background: #5a40c4;
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: -0.48px;
  position: absolute;
  bottom: 0%;
  border-radius: 0 0 12px 12px;
}

@media (max-width: 1100px) {
  .product-pointers {
    width: 90%;
  }

  .product-cost-list {
    width: 80%;
  }

  .product-pointers h3 {
    font-size: 18px;
    line-height: 31px;
    letter-spacing: -0.75px;
  }

  .product-pointers i {
    font-size: 26px;
    margin-right: 8px;
  }

  .product-and-cost-container-card {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .product-pointers {
    width: 80%;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto auto;
  }

  .product-cost-list {
    width: 95%;
  }

  .product-and-cost-container-card {
    width: 95%;
  }
}

@media (max-width: 750px) {
  .product-and-cost {
    padding: 55px 0 50px;
  }

  .product-and-cost h1 {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -1.4px;
  }

  .product-and-cost h5 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.65px;
    margin-top: 20px;
  }

  .product-pointers {
    width: 90%;
  }

  .product-cost-list {
    width: 100%;
    flex-wrap: wrap;
    padding: 0 23px;
  }

  .product-cost-card {
    width: 100%;
    padding: 25px 22px;
  }

  .product-cost-card:first-of-type {
    margin-bottom: 20px;
  }

  .product-cost-card h3 {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.8px;
  }

  .product-cost-card h4 {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.36px;
    margin-top: 10px;
  }

  .product-cost-card p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.28px;
  }

  .product-and-cost-card:first-of-type {
    margin-bottom: 1.2rem;
  }

  .product-and-cost-card {
    width: 100%;
    padding: 1.6rem 1.4rem;
  }

  .product-and-cost-container-card {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0 1.4rem;
  }

  .developmental-kit {
    padding: 0 23px;
    margin-top: 1.5rem;
    flex-wrap: wrap;
  }

  .kit-intro {
    width: 100%;
    padding: 16px;
  }

  .kit-intro h3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.64px;
  }

  .kit-intro p {
    font-size: 14px;
    line-height: 34px;
    letter-spacing: -0.56px;
    margin-top: 0;
  }

  .kit-intro img {
    width: 72px;
    height: 72px;
    margin-left: 2px;
  }

  .kit-video {
    margin-top: 18px;
    height: 163px;
    margin-left: 0;
  }

  .kit-video h3 {
    padding: 7px 0;
    line-height: 12px;
    letter-spacing: -0.48px;
    bottom: 0%;
  }
}

@media (max-width: 550px) {
  .product-and-cost h1 {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.8px;
  }

  .product-and-cost h5 {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.56px;
    margin-top: 17px;
  }

  .product-pointers {
    width: 90%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 0 3rem;
  }

  .product-pointers h3 {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.64px;
  }

  .product-pointers i {
    font-size: 24px;
    margin-right: 11px;
  }

  .developmental-kit {
    padding: 0 1rem;
  }
}
