/*                             Happy Parents Section Styles */
.super-happy-parents {
  width: 100%;
  background: #e9dfdf;
  padding-top: 1rem;
}

.super-happy-parents h1 {
  font-size: 2.5rem;
  text-align: center;
  color: darkblue;
}

.super-happy-parents h1 span {
  font-weight: 400;
}

.super-happy-parents h4 {
  font-size: 1.5rem;
  text-align: center;
  color: darkblue;
  font-weight: 400;
  margin: 2rem 0;
}

.super-happy-parents-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.super-happy-parents-cards {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: auto;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  width: 80%;
  margin: 1rem auto;
}

.super-happy-parents-cards::-webkit-scrollbar {
  display: none;
}

.super-happy-parents-button {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.super-happy-parents-card {
  width: 30%;
  border-radius: 10px;
  background: white;
  padding: 1rem;
  margin: 0 1rem;
  box-shadow: 0 4px 12px 0 rgb(9 22 48 / 0.06);
  scroll-snap-align: start;
}

.super-happy-iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.super-happy-iframe-container iframe {
  border-radius: 10px;
}

.super-happy-parent-quote {
  position: relative;
  padding-top: 10px;
}

.super-happy-parents-card p {
  font-size: 20px;
  color: darkblue;
  padding-left: 10px;
}

.child-development-button {
  width: 100%;
  background: #e9dfdf;
  padding: 2rem 0;
  text-align: center;
}

.child-development-button a:hover {
  box-shadow: 0px 0px 20px rgb(140, 140, 140);
}

/*                            Media Queries for responsiveness ( 1024px )*/
@media (max-width: 1024px) {
  .super-happy-parents-card {
    width: 40%;
  }

  .super-happy-parents h1 {
    font-size: 2rem;
  }

  .super-happy-parents h4 {
    font-size: 1.25rem;
  }
}

/*                            Media Queries for responsiveness ( 768px )*/
@media (max-width: 768px) {
  .super-happy-parents-card {
    width: 60%;
  }

  .super-happy-parents h1 {
    line-height: 2.25rem;
    padding: 0 1rem;
  }
}

/*                            Media Queries for responsiveness ( 480px )*/
@media (max-width: 480px) {
  .prev {
    left: 0%;
  }
  .next {
    right: 0%;
  }

  .super-happy-parents h1 {
    font-size: 1.25rem;
  }

  .super-happy-parents h4 {
    font-size: 1rem;
    padding: 0 1rem;
    margin: 1rem 0;
  }

  .super-happy-parents-cards {
    width: 90%;
    gap: 0;
  }

  .super-happy-parents-card {
    width: 100%;
  }

  .super-happy-parents-card p {
    font-size: 18px;
  }

  .child-development-button a {
    font-size: 1rem;
  }
}
