/*                    sub-container styles */
.sub-container {
  width: 100%;
  height: auto;
}

/*                      Heading styles */
.heading {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 4rem;
}

.heading span {
  color: orange;
}

/*                        Main Styles */
.sub-mainDiv {
  width: 90%;
  display: flex;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.sub-mainDiv-img {
  width: 50%;
  height: auto;
}

.sub-mainDiv-img img {
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 10px 0 0 10px;
}

.sub-mainDiv-content {
  width: 50%;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px 0;
}

.sub-mainDiv-content h1 {
  text-align: center;
  color: darkblue;
  font-size: 4rem;
  line-height: 5.5rem;
}

.sub-mainDiv-content hr {
  width: 80%;
  height: 5px;
  background-color: darkblue;
  margin-top: 2rem;
}

.sub-mainDiv-content h2 {
  text-align: center;
  color: darkblue;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 2rem;
}

.sub-mainDiv-content button {
  background-color: #ff5766;
  text-decoration: none;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  margin-top: 2rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}

.sub-mainDiv-content button:hover {
  box-shadow: 0px 0px 20px rgb(140, 140, 140);
}

/*                                         sub-popUp styles */
.sub-kit-popup {
  width: 90%;
  margin: 4rem auto;
  text-align: center;
}

.sub-kit-popup h1 {
  text-align: center;
  line-height: 2.5rem;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.sub-kit-popup img {
  width: 50%;
  box-shadow: 0 8px 12px 0 rgb(9 22 48 / 0.06);
  border-radius: 0 0 10px 10px;
}

.pop-select-button {
  display: inline-block;
  background-color: #ff5766;
  padding: 1rem 4rem;
  border-radius: 10px;
  border: none;
  margin-top: 2rem;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pop-select-button:hover {
  box-shadow: 0px 0px 20px rgb(140, 140, 140);
}

.sub-popUp {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 1rem;
  z-index: 1;
}

.sub-popUp-content {
  width: 40%;
  max-width: 600px;
  height: auto;
  max-height: 90vh;
  background-color: white;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.sub-popUp-content h1 {
  width: 100%;
  background-color: #ff5766;
  color: white;
  padding: 1rem;
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
}

.sub-popUp-content h2 {
  width: 100%;
  color: blue;
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 300;
}

.sub-popUp-content label {
  font-size: 1.3rem;
  color: blue;
  display: block;
  margin-top: 1.5rem;
}

.sub-popUp-content select {
  padding: 10px;
  font-size: 1.1rem;
  width: 100%;
  margin-top: 1rem;
}

.popup-submit-button {
  display: inline-block;
  background-color: green;
  padding: 1rem 4rem;
  border-radius: 1rem;
  border: none;
  margin-top: 2rem;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-submit-button:hover {
  background-color: darkgreen;
}

.popup-cancel-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.popup-cancel-button:hover {
  background-color: darkred;
}

.developmental-kit-heading {
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 3.5rem;
}

.developmental-kit-heading span {
  color: orange;
}

/*                           Kits Styles */
.sub-kitDiv {
  width: 95%;
  height: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 2rem;
  gap: 1rem;
}

.sub-kitDiv-img {
  width: 50%;
}

.sub-kitDiv-img img {
  width: 100%;
  border-radius: 10px;
}

.sub-kitDiv-content {
  width: 50%;
  padding: 0 2rem;
}

.sub-kitDiv-content h1 {
  font-size: 2.5rem;
  text-align: left;
}

.sub-kitDiv-content h2 {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  line-height: 45px;
}

.sub-kitDiv-content ul {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  line-height: 2rem;
  list-style: none;
}

.sub-kitDiv-content ul li {
  position: relative;
  padding-left: 25px;
  text-align: left;
}

.sub-kitDiv-content ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: green;
}

.sub-kitDiv-content h3 {
  font-size: 2rem;
  color: green;
  margin-top: 1rem;
  text-align: left;
}

.sub-kitDiv-content h4 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
  text-decoration: line-through;
  text-align: left;
  color: black;
}

.sub-kitDiv-content h4 span {
  text-decoration: none;
  color: #ff5766;
  margin-left: 1rem;
  display: inline-block;
}

.sub-kitDiv-content h5 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  text-align: left;
}

.sub-kitDiv-content h6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0;
  text-align: left;
}

.sub-kitDiv-content button {
  display: inline-block;
  padding: 1rem 0;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: #ff5766;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.sub-kitDiv-content button:hover {
  box-shadow: 0px 0px 20px rgb(140, 140, 140);
}

.sub-kitDiv-content p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 1rem;
  text-align: left;
}

/*                           Videos Styles */
.sub-videos-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.sub-video {
  width: 45%;
}

/*                          Research Styles */
.sub-research {
  width: 90%;
  height: auto;
  background-color: rgb(245, 245, 245);
  display: flex;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.sub-research-img,
.sub-research-content {
  width: 50%;
  height: auto;
}

.sub-research-img img {
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 0 10px 10px 0;
}

.sub-research-content {
  display: flex;
  padding-left: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-research-content h1 {
  font-size: 3rem;
}

.sub-research-content ul {
  font-size: 2.5rem;
  margin: 1.5rem 0 0 1rem;
  line-height: 4rem;
  list-style: none;
  color: green;
}

.sub-research-content ul li {
  position: relative;
  padding-left: 3.5rem;
}

.sub-research-content ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: blue;
}

.sub-research-content button {
  background-color: #ff5766;
  padding: 1rem 2rem;
  border-radius: 5rem;
  color: white;
  font-size: 1.5rem;
  margin-top: 2rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.sub-research-content button:hover {
  box-shadow: 0px 0px 20px rgb(140, 140, 140);
}

/*                     Stories Styles */
.sub-stories {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
}

.sub-stories-video {
  width: 42%;
}

.stories-content {
  width: 50%;
  box-sizing: border-box;
}

.stories-content h1 {
  color: blue;
  border-left: 4px solid #ff5766;
  padding-left: 1rem;
}

.stories-content p {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

/*                       Award Styles */
.sub-award-cards {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem auto;
}

.sub-award-card {
  width: 30%;
  background-color: #f1f3f5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.sub-award-card img {
  width: 100%;
}

.sub-award-card h2 {
  padding: 5px 10px 5px 10px;
}

.sub-award-card p {
  padding: 10px 10px 50px 10px;
}

/*                            Media Queries for responsiveness ( 1024px )*/
@media (max-width: 1024px) {
  .sub-mainDiv-img img {
    height: 400px;
  }
  .sub-mainDiv-content h1 {
    font-size: 2.5rem;
  }
  .sub-mainDiv-content h2 {
    font-size: 2rem;
  }

  .sub-kit-popup img {
    width: 80%;
  }

  .sub-popUp-content {
    width: 60%;
    padding: 1.5rem;
  }
  .sub-popUp-content h1 {
    font-size: 2.2rem;
    padding: 0.8rem;
  }
  .sub-popUp-content h2 {
    font-size: 1.8rem;
  }
  .sub-popUp-content button {
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
  }

  .sub-kitDiv-content {
    padding: 0;
  }
  .sub-kitDiv-content h1 {
    font-size: 2rem;
  }
  .sub-kitDiv-content h2 {
    font-size: 1.6rem;
  }
  .sub-kitDiv-content h3 {
    font-size: 1.8rem;
  }
  .sub-kitDiv-content h4 {
    font-size: 1.8rem;
  }

  .sub-research-img img {
    height: 400px;
  }
  .sub-research-content h1 {
    font-size: 2rem;
    padding-top: 1rem;
  }
  .sub-research-content ul {
    font-size: 1.7rem;
  }
  .sub-research-content a {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .sub-stories {
    padding: 1rem 1rem;
  }
  .sub-stories-video {
    width: 45%;
  }
  .stories-content {
    padding: 1rem;
  }
  .stories-content h1 {
    font-size: 1.75rem;
  }

  .sub-award-cards {
    gap: 2rem;
    justify-content: center;
  }
  .sub-award-card {
    width: 45%;
  }
}

/*                            Media Queries for responsiveness ( 768px )*/
@media (max-width: 768px) {
  .sub-mainDiv {
    flex-direction: column;
    align-items: center;
  }
  .sub-mainDiv-img {
    width: 100%;
  }
  .sub-mainDiv-img img {
    border-radius: 10px 10px 0 0;
  }
  .sub-mainDiv-content {
    width: 100%;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
  }
  .sub-mainDiv-content h1 {
    font-size: 2rem;
  }
  .sub-mainDiv-content h2 {
    font-size: 1.75rem;
  }
  .sub-mainDiv-content a {
    padding: 1rem 2rem;
    font-size: 1.25rem;
  }

  .sub-kit-popup img {
    width: 60%;
  }

  .sub-popUp-content {
    width: 70%;
    padding: 1.5rem;
  }
  .sub-popUp-content h1 {
    font-size: 2rem;
  }
  .sub-popUp-content h2 {
    font-size: 1.6rem;
  }
  .sub-popUp-content button {
    padding: 0.8rem 2.5rem;
    font-size: 1.2rem;
  }

  .sub-kitDiv-img,
  .sub-kitDiv-content {
    width: 100%;
  }
  .sub-kitDiv {
    flex-direction: column;
  }
  .sub-kitDiv-content h1 {
    font-size: 1.8rem;
  }
  .sub-kitDiv-content h2 {
    font-size: 1.5rem;
  }
  .sub-kitDiv-content h3,
  .sub-kitDiv-content h4 {
    font-size: 1.5rem;
  }
  .sub-kitDiv-content ul {
    font-size: 1.2rem;
  }

  .sub-videos-div {
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
  }
  .sub-video {
    width: 90%;
  }

  .sub-research {
    flex-direction: column;
  }
  .sub-research-img,
  .sub-research-content {
    width: 100%;
  }
  .sub-research-img img {
    border-radius: 0 0 10px 10px;
  }
  .sub-research-content h1 {
    font-size: 2rem;
  }
  .sub-research-content ul {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .sub-research-content a {
    font-size: 1.2rem;
  }

  .sub-stories {
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
    gap: 1rem;
  }
  .sub-stories-video {
    width: 90%;
  }
  .stories-content {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
  }

  .sub-award-card {
    width: 47.5%;
  }
  .sub-award-card h2 {
    font-size: 1.25rem;
  }
  .sub-award-card p {
    font-size: 1rem;
  }
}

/*                            Media Queries for responsiveness ( 480px )*/
@media (max-width: 480px) {
  .heading {
    font-size: 1.5rem;
  }

  .sub-mainDiv-content h1 {
    font-size: 1.75rem;
    line-height: 1.5rem;
  }
  .sub-mainDiv-content h2 {
    font-size: 1.5rem;
  }
  .sub-mainDiv-content a {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
  .sub-mainDiv-img img {
    height: 250px;
  }

  .sub-kit-popup h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .sub-kit-popup img {
    width: 90%;
  }
  .sub-popUp-content {
    width: 90%;
    padding: 1rem;
  }
  .sub-popUp-content h1 {
    font-size: 1.8rem;
    padding: 0.6rem;
  }
  .sub-popUp-content h2 {
    font-size: 1.4rem;
  }
  .sub-popUp-content button {
    padding: 0.6rem 2rem;
    font-size: 1.1rem;
  }

  .sub-kitDiv {
    margin: 1rem auto;
  }
  .sub-kitDiv-img img {
    height: auto;
  }
  .sub-kitDiv-content {
    padding: 5px 0;
  }
  .sub-kitDiv-content h1 {
    font-size: 1.6rem;
  }
  .sub-kitDiv-content h2 {
    font-size: 1.4rem;
  }
  .sub-kitDiv-content h3,
  .sub-kitDiv-content h4 {
    font-size: 1.4rem;
  }
  .sub-kitDiv-content a {
    font-size: 18px;
  }

  .sub-video {
    width: 100%;
  }

  .sub-research-img img {
    height: 250px;
  }
  .sub-research-content h1 {
    font-size: 1.8rem;
  }
  .sub-research-content ul {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .sub-research-content a {
    font-size: 1rem;
  }

  .sub-stories {
    padding: 1rem 1rem 0 1rem;
  }
  .sub-stories-video {
    width: 100%;
  }
  .stories-content h1 {
    font-size: 1.5rem;
  }
  .stories-content p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
  }

  .sub-award-card {
    width: 90%;
  }
  .sub-award-card h2 {
    font-size: 1rem;
  }
}

/*                            Media Queries for responsiveness ( 360px )*/
@media (max-width: 360px) {
  .sub-popUp-content {
    width: 100%;
    padding: 0.5rem;
  }
  .sub-popUp-content h1 {
    font-size: 1.8rem;
  }
  .sub-popUp-content h2 {
    font-size: 1.2rem;
  }
  .sub-popUp-content button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
}
